@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #03001C;
}

body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #03001C;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}